cmake-build-debug

# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++
/cmake-build-debug/CMakeFiles/PSE.dir/build.make
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock.dir/build.make
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock_main.dir/build.make
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest.dir/build.make
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest_main.dir/build.make
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/PSE.dir/cmake_clean.cmake
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock.dir/cmake_clean.cmake
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock_main.dir/cmake_clean.cmake
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest.dir/cmake_clean.cmake
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock.dir/cmake_clean_target.cmake
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock_main.dir/cmake_clean_target.cmake
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest.dir/cmake_clean_target.cmake
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest_main.dir/cmake_clean_target.cmake
/cmake-build-debug/googletest/googlemock/cmake_install.cmake
/cmake-build-debug/googletest/googletest/cmake_install.cmake
/cmake-build-debug/googletest/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.17.5/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.17.5/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.17.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.17.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/googletest/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/googletest/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.17.5/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.17.5/CMakeSystem.cmake
/cmake-build-debug/googletest/googlemock/CTestTestfile.cmake
/cmake-build-debug/googletest/googletest/CTestTestfile.cmake
/cmake-build-debug/googletest/CTestTestfile.cmake
/cmake-build-debug/CMakeFiles/PSE.dir/depend.make
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock.dir/depend.make
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock_main.dir/depend.make
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest.dir/depend.make
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest_main.dir/depend.make
/cmake-build-debug/CMakeFiles/PSE.dir/DependInfo.cmake
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
/.idea/deployment.xml
/cmake-build-debug/CMakeFiles/PSE.dir/flags.make
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock.dir/flags.make
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock_main.dir/flags.make
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest.dir/flags.make
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest_main.dir/flags.make
/cmake-build-debug/googletest/googlemock/gmock.cbp
/cmake-build-debug/googletest/googletest/generated/gmock.pc
/cmake-build-debug/googletest/googletest/generated/gmock_main.pc
/cmake-build-debug/googletest/googletest-distribution.cbp
/cmake-build-debug/googletest/googletest/gtest.cbp
/cmake-build-debug/googletest/googletest/generated/gtest.pc
/cmake-build-debug/googletest/googletest/generated/gtest_main.pc
/cmake-build-debug/googletest/googletest/generated/GTestConfig.cmake
/cmake-build-debug/googletest/googletest/generated/GTestConfigVersion.cmake
/cmake-build-debug/googletest/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets.cmake
/cmake-build-debug/googletest/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets-debug.cmake
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/googletest/googlemock/Makefile
/cmake-build-debug/googletest/googletest/Makefile
/cmake-build-debug/googletest/Makefile
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/PSE.dir/objects1.rsp
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock.dir/objects1.rsp
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock_main.dir/objects1.rsp
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest.dir/objects1.rsp
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest_main.dir/objects1.rsp
/cmake-build-debug/CMakeFiles/PSE.dir/progress.make
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock.dir/progress.make
/cmake-build-debug/googletest/googlemock/CMakeFiles/gmock_main.dir/progress.make
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest.dir/progress.make
/cmake-build-debug/googletest/googletest/CMakeFiles/gtest_main.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/googletest/CMakeFiles/progress.marks
/cmake-build-debug/googletest/googlemock/CMakeFiles/progress.marks
/cmake-build-debug/googletest/googletest/CMakeFiles/progress.marks
/cmake-build-debug/PSE.cbp
/.idea/PSE.iml
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/.idea/vcs.xml
